<header>
    <div class="flex-container-header">
       <div class="flex-element-header">
            <p class="title">SeecHer</p>
       </div>
        <div class="flex-element-header">
            <i class="fa fa-address-book" aria-hidden="true"></i>
        </div>
        <div class="flex-element-header">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="flex-element-header">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </div>
        <div class="flex-element-header">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <div class="flex-element-header">
            <img src="../img/woman.png">
        </div>
    </div>
</header>
